.spacer-1,.spacer-2,.spacer-3,.spacer-4,.spacer-5,.spacer-6,.spacer-7,.spacer-8,.spacer-9,.spacer-10,
.spacer-11,.spacer-12,.spacer-13,.spacer-14.spacer-15,
.spacer-20,.spacer-25, 
.spacer-30,.spacer-35,
.spacer-40,.spacer-45,
.spacer-50,.spacer-55,
.spacer-60,.spacer-65, 
.spacer-70,.spacer-75,
.spacer-80,.spacer-85, 
.spacer-90,.spacer-95,
.spacer-100,
.spacer-200,
.spacer-300,
.spacer-400,
.spacer-500 {
    display: block;
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 0; 
    width: 100%; 
}

.spacer-1 { height: 1px; }
.spacer-2 { height: 2px; }
.spacer-3 { height: 3px; }
.spacer-4 { height: 4px; }
.spacer-5 { height: 5px; }
.spacer-6 { height: 6px; }
.spacer-7 { height: 7px; }
.spacer-8 { height: 8px; }
.spacer-9 { height: 9px; }
.spacer-10 { height: 10px; }
.spacer-11 { height: 11px; }
.spacer-12 { height: 12px; }
.spacer-13 { height: 13px; }
.spacer-14 { height: 14px; }
.spacer-15 { height: 15px; }
.spacer-20 { height: 20px; }
.spacer-25 { height: 25px; }
.spacer-30 { height: 30px; }
.spacer-35 { height: 35px; }
.spacer-40 { height: 40px; }
.spacer-45 { height: 45px; }
.spacer-50 { height: 50px; }
.spacer-55 { height: 55px; }
.spacer-60 { height: 60px; }
.spacer-65 { height: 65px; }
.spacer-70 { height: 70px; }
.spacer-75 { height: 75px; }
.spacer-80 { height: 80px; }
.spacer-85 { height: 85px; }
.spacer-90 { height: 90px; }
.spacer-95 { height: 95px; }
.spacer-100 { height: 100px; }
.spacer-200 { height: 200px; }
.spacer-300 { height: 300px; }
.spacer-400 { height: 400px; }
.spacer-500 { height: 500px; }
